
.col{
    margin-top: 30px;
    overflow-x: hidden;
    padding-bottom: 30px;
    color: rgb(94, 29, 155);
}

.row{
    padding: 10px;
    border: solid;
   margin-left: 50px;
  background-color: rgb(217, 222, 230);
   margin-right: 50px;
}
#h2{
    margin-left: 100px;
    color: rgb(65, 7, 120);

}