#row{
    padding: 50px 50px;
    overflow-x: hidden;
}

.heading{
    font-family:reg;  
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -0.25px;
    line-height: 60px;
    margin-top: 50px;

}

@font-face {
    font-family:reg ;
    src: url(../Assets/Fonts/Roboto-Regular.ttf);
}

.gfe-mod-spacer-2-top {
    margin-top: 16px;
}

.gfe-button__label {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 5px;
    color: #ebeef3;
    background-color: #337fc6;
}

.gfe-button--medium-emphasis {
    background-color: #337fc6;
    border-color: #dadce0;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #ebeef3;
    padding: 7px;
}
