/* Dashboard.css */
.grocery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .grocery-item {
    width: calc(33.33% - 20px);
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .grocery-item img {
    max-width: 100%;
    height: 150px;
  }
  
  .grocery-item h3 {
    margin: 10px 0;
  }
  
  .grocery-item p {
    font-size: 16px;
  }
  
  .grocery-item button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }


.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #f1f1f1;
  border-radius: 4px;
  margin-top: 10px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: #0a0d10;
  transition: width 0.5s;
}
#bn{
  background-color: rgb(8, 123, 4);
  margin-left:12px;
}

#delete{
  background-color: rgb(190, 13, 13);
  margin-left:12px;
}


#edit{
  margin-left:12px;
  background-color: rgb(196, 199, 20);
}

#admintask{
  border:ridge;
  margin: 100px 200px 30px 30px;
  padding: 100px 100px 100px 100px ;
}
.card{
  padding: 45px;
}



.card:nth-child(even){
  background-color: rgba(166, 182, 237, 0.53);
}
.card:nth-child(odd){
  background-color: rgba(174, 206, 228, 0.521);
}
